body {
    font-family:"Marvel",sans-serif;
    margin-top:100 px;
    width:1090px;
    margin:0 auto;
    background-color:floralwhite
}
<style>
body {
  background-image: url(WebPhotos/Great-Pyrenees-3-645mk062411.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
h1{
    color:darkslategrey;
    text-align: left;
    font-size: 3em;
}

.container {
    width:800px;
    margin: 0 auto;
}

div {
    border:none;
    padding-top: 50px;
    padding-right:30px;
    padding-bottom: 50px;
    padding-left: 80 px;
}

h2{
    background-color: cornflowerblue;
    width: 300px;
    padding: 5px;
}